# IP privada de RabbitMQ para conexiones entre EC2.
RABBITMQ_HOST=172.31.40.21
# Puerto AMQP de RabbitMQ.
RABBITMQ_PORT=5672
# Usuario de RabbitMQ.
RABBITMQ_USERNAME=guias
# Contrasena local de RabbitMQ.
RABBITMQ_PASSWORD=guias-local
# Nombre del contenedor RabbitMQ en EC2.
RABBITMQ_CONTAINER=rabbitmq-semana7

# Elastic IP de la instancia productora.
EC2_PRODUCTOR_HOST=100.50.23.96
# Elastic IP de la instancia consumidora.
EC2_CONSUMIDOR_HOST=3.233.184.231
# Elastic IP de la instancia RabbitMQ.
EC2_RABBITMQ_HOST=44.210.54.139
# Puerto HTTP del productor.
EC2_PRODUCTOR_PORT=8080
# Puerto HTTP del consumidor.
EC2_CONSUMIDOR_PORT=8081
# Usuario SSH de las instancias EC2.
EC2_SSH_USER=ec2-user
# Clave PEM del productor para GitHub Actions.
EC2_PRODUCTOR_SSH_KEY=
# Clave PEM del consumidor para GitHub Actions.
EC2_CONSUMIDOR_SSH_KEY=
# Clave PEM de RabbitMQ para GitHub Actions.
EC2_RABBITMQ_SSH_KEY=
# Host key SSH verificada del productor.
EC2_PRODUCTOR_KNOWN_HOSTS=
# Host key SSH verificada del consumidor.
EC2_CONSUMIDOR_KNOWN_HOSTS=
# Host key SSH verificada de RabbitMQ.
EC2_RABBITMQ_KNOWN_HOSTS=

# URL publica de AWS API Gateway.
API_GATEWAY_BASE_URL=https://h579c6p872.execute-api.us-east-1.amazonaws.com
# Region AWS del bucket S3.
AWS_REGION=us-east-1
# Nombre del bucket S3.
AWS_S3_BUCKET=gestion-guias-grupo16
# Access key AWS opcional fuera de IAM u OIDC.
AWS_ACCESS_KEY_ID=
# Secret key AWS opcional fuera de IAM u OIDC.
AWS_SECRET_ACCESS_KEY=
# Token AWS requerido por credenciales temporales.
AWS_SESSION_TOKEN=

# Endpoint OAuth Client Credentials de Azure AD B2C.
AZURE_TOKEN_URL=https://gestionguiasgrupo16.b2clogin.com/gestionguiasgrupo16.onmicrosoft.com/B2C_1_1_signupsignin/oauth2/v2.0/token
# Client ID de gestion-guias-postman.
AZURE_CLIENT_ID=5bce4cb8-738d-48c8-9ea6-3c2755c23e3a
# Client secret de gestion-guias-postman.
AZURE_CLIENT_SECRET=
# Scope de gestion-guias-api para Client Credentials.
AZURE_SCOPE=https://gestionguiasgrupo16.onmicrosoft.com/ffcb0203-f967-4ae3-a623-a2b7e611d127/.default
# Endpoint publico de claves JWT.
AZURE_B2C_JWK_SET_URI=https://gestionguiasgrupo16.b2clogin.com/gestionguiasgrupo16.onmicrosoft.com/B2C_1_1_signupsignin/discovery/v2.0/keys
# Issuer validado por los microservicios.
AZURE_B2C_ISSUER_URI=https://gestionguiasgrupo16.b2clogin.com/tfp/fa29ef4f-f0db-41c7-b132-8bb21fe905ba/b2c_1_1_signupsignin/v2.0/
# Audience validada por los microservicios.
AZURE_B2C_AUDIENCE=ffcb0203-f967-4ae3-a623-a2b7e611d127

# Puerto Spring Boot del consumidor.
SERVER_PORT=8081
# Directorio temporal de archivos del consumidor.
STORAGE_PATH=/tmp/storage
